@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-primaria: #f2f5fd;
    --color-secundaria: #0A3871;
    --color-terciaria: #343A40;
    --color-4: #FFFFFF;

    --fuente-inter: "Inter", sans-serif;
}

* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primaria);
    color: var(--color-secundaria);
    font-size: 2rem;
    font-family: var(--fuente-inter);
}

.presentacion {
    padding: 0% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentacion__contenido{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.b1{
    padding: 40% 0%;
    border: none;
    margin-top: 1rem;
}
.adv{
    color: var(--color-terciaria);
    font-size: 0.75rem;
    
}

.bt_1{
    width: 100%;
    height: 67px;
    border-radius: 16px;
    background-color:  var(--color-secundaria);
    border: none;
    color: var(--color-primaria);
    padding: 1.5rem;
    font-size: 16px;
    font-weight: 280;
    font-family: var(--fuente-inter)
}

.bt_2{
    
}

.Interf{
    color: var(--color-terciaria);
    background-color: var(--color-4);
    font-size: 1.5rem;
    width: 30%;
   
}

.t1{
    font-size: 1rem;
}

.footer{
    color:var(--color-primaria);
    background-color: var(--color-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fuente-inter);
    font-size: 1.5rem;
    font-weight: 400;
}

