@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-primaria: #f2f5fd;
    --color-secundaria: #0A3871;
    --color-terciaria: #343A40;
    --color-4: #FFFFFF;
    --color-6: #D8DFE8;
    --color-hover1:	#00008B;
    --color-hover2:  #f2f5fd;

    --fuente-inter: "Inter", sans-serif;
}

* {
    padding: 0;
    margin:0;
}

header{
    padding-top: 2rem; 
}

body{
    box-sizing: border-box;
    background-color: var(--color-primaria);
    color: var(--color-secundaria);
    font-size: 2rem;
    font-family: var(--fuente-inter);
}

.presentacion {
    padding: 0% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentacion__contenido{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.b1{
    /* padding: 40% 0%; Se oculta padding para probar*/
    border: none;
    margin-top: 21rem;
    
}

.b2{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-top: 1rem;
}

.adv{
    color: var(--color-terciaria);
    font-size: 0.75rem;
    
}

.bt_1{
    width: 30%;
    height: 67px;
    border-radius: 16px;
    background-color:  var(--color-secundaria);
    border: 1px solid var(--color-secundaria);
    color: var(--color-primaria);
    padding: 1.5rem;
    font-size: 16px;
    font-weight: 280;
    font-family: var(--fuente-inter)
}

.bt_2{
    width: 30%;
    height: 67px;
    border-radius: 16px;
    background-color:  var(--color-6);
    border: 1px solid var(--color-secundaria);
    color: var(--color-secundaria);
    padding: 1.5rem;
    font-size: 16px;
    font-weight: 280;
    font-family: var(--fuente-inter)
    
    
}

.bt_1:hover{
    background-color: var(--color-hover1);
}

.bt_2:hover{
    background-color: var(--color-hover2);
}

.Interf{
    color: var(--color-terciaria);
    background-color: var(--color-4);
    font-size: 1.5rem;
    width: 30%;
    text-align: center;
    height: 60rem;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    
}



.imagen1{
    margin-top: 6rem;
    width: 21rem ;
    height: 19rem;
}

.t1{
    font-size: 1rem;
}

.Interf_2 {
    color: var(--color-terciaria);
    background-color: var(--color-4);
    font-size: 2rem;
    width: 30%;
    height: 60rem;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.t2 {
    width: 90%;
    font-size: 1.5rem;
    padding: 1.5rem;
}

.button-container {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    margin-top: auto; /* Empuja el contenedor del botón al final */
    margin-bottom: 0.5rem; /* Ajusta este valor para el espaciado deseado con el borde final */
}

.bt_3 {
    width: 18vw;
    height: 67px;
    border-radius: 16px;
    background-color: var(--color-4);
    border: 1px solid var(--color-secundaria);
    color: var(--color-secundaria);
    padding: 1.5rem;
    font-size: 16px;
    font-weight: 280;
    font-family: var(--fuente-inter);
}



.bt_3:hover{
    background-color: var(--color-hover2);
}

.footer{
    color:var(--color-primaria);
    background-color: var(--color-terciaria);
    padding: 1rem;
    text-align: center;
    font-family: var(--fuente-inter);
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 4.5rem;
}


@media (max-width: 1200px) {

    
    .presentacion{
        flex-direction: column;
        padding: 5%;
        gap: 4rem;

        align-items: baseline;

    }

    .presentacion__contenido{
        width: auto;
    }
    
    .Interf{
        width: 95%;
        height: auto;
        padding: 1rem;
        align-items: center;
        
    }

    .Interf_2{
        width: 95%;
        height: auto;
        padding: 1rem;
        align-items: center;
        
    }

    .imagen1{
        margin-top: 1rem;
        width: 0rem ;
        height: 0rem;
    }
    .footer{
        margin-top: auto;
    }

    .b1{
        /* padding: 40% 0%; Se oculta padding para probar*/
        border: none;
        margin-top: 30rem;
        width: 100%;
    }
    .b2 {
        display: flex;
        width: 90vw; /* Asegura que el contenedor ocupe todo el ancho de la ventana */
        box-sizing: border-box; /* Incluye padding y border en el ancho total */
        
    }
   
    button {
        flex: 1;
    }

    .button-container {
        width: 80vw;
    }
    
}

@media (max-width: 450px) {

    .presentacion{
        flex-direction: column;
        padding: 5%;
        gap: 4rem;

        align-items: baseline;

    }

    .presentacion__contenido{
        width: auto; 
    }
    
    .Interf{
        width: 95%;
        height: auto;
        padding: 1rem;
        align-items: center;
        
    }

    .Interf_2{
        width: 95%;
        height: auto;
        padding: 1rem;
        align-items: center;
        
    }

    .imagen1{
        margin-top: 1rem;
        width: 0rem ;
        height: 0rem;
    }
    .footer{
        margin-top: auto;
    }

   
    .b2 {
        display: flex;

        box-sizing: border-box; /* Incluye padding y border en el ancho total */
        flex-direction: column;
        
    }
   
    
    .bt_1{
        width: 100%;
    }
    
    .bt_2{
        width: 100%;     
    }



    .button-container {
        width: 80vw;
    }
    
 
    
}
